<% title "Edit Item > #{@item.title}" %>
<div id="item_form">
  <%= render "form" %>
  <%= render :partial => "form_pics", :item => @item %>

  <br /><br />
  <hr />
  <%= link_to "Delete this Item completely", [:admin, @item], :method => :delete, :confirm => "Are you sure?", :class => "btn btn-danger" %>
</div>

