<div class="items">
  <% items.each do |item| %>
    <div class="item">
      <% if !item.pics.empty? %>
        <%= image_tag item.pics.by_position.first.attach(:front) %>
      <% end %>
      <h1><%= link_to item.title, [:front, item] %></h1>
    </div>
  <% end %>
</div>