<% title "Item | #{@item.title}" %>

<div id="item_show">
  <div class="left_column">
    <div class="text">
      <%= @item.text.to_md %>

      <h3>Categories</h3>
      <ul>
        <% @item.categories.each do |category| %>
          <li><%= link_to category.name, [:front, category] %></li>
        <% end %>
      </ul>
    </div>

  </div>

  <div class="rigth_column">
    <h1><%= @item.title %></h1>
    <div class="pics">
      <ul>
        <% @item.pics.by_position.each do |pic| %>
          <li><%= image_tag pic.attach(:front_big) %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>