body {
  font-family: "Lato", sans-serif;
  font-size: 12px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}


#wrapper {
  width: 930px;
  margin: 0 auto 40px auto;
}

#header {
  margin-top: 66px;
  margin-bottom: 20px;
  height: 104px;
  overflow: hidden;
}

#logo a {
  display: block;
  width: 187px;
  height: 27px;
  background-image: url("/assets/app/front/img/logo.png");
  background-repeat: no-repeat;
  text-indent: -9999px;
}

#logo a:hover {
  text-decoration: none;
}

#menu {
  line-height: 20px;
}

#menu .title {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

#menu > ul > li {
  float: left;
  width: 232px;
  margin-bottom: 10px;
  height: 104px;
}

#menu > ul > li > ul > li {
  float: left;
  width: 115px;
}

#menu a {
  color: #aaa;
}

#menu li.active a {
  font-weight: bold;
  text-decoration: underline;
}



/* MENU ABOUT */
#menu > ul > li.about {
  background-image: url("/assets/app/front/img/about_logo.png");
  background-repeat: no-repeat;
  background-position: 20px 0px;

  float: left;
  font-weight: bold;
  width: 116px;
  padding-left: 116px;
  margin-bottom: 10px;
}

.left_column {
  width: 220px;
  float: left;
}

.rigth_column {
  width: 710px;
  float: right;
}

/* INDEX */
/*.item {
  width: 215px;
  float: left;
  margin-right: 23px;
}

.item:nth-child(4n+0) {
  margin-right: 0px;
}*/

/* ITEMS */

#item_show h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  margin-bottom: 10px;
}

#item_show .text {
  text-align: right;
  padding-top: 30px;
  padding-right: 10px;
  color: #aaa;
  line-height: 18px;
}

#item_show .text a {
  color: #aaa;
}

#item_show .text p a {
  font-weight: bold;
  text-decoration: underline;
}

#item_show .text p a:hover {
  color: #666;
}

#item_show .text p {
  margin-bottom: 1em;
}

#item_show .text p strong {
  font-weight: bold;
}

#item_show .text p em {
  font-style:italic
}

#item_show .pic p {
  text-align: right;
  color: #aaa;
}

#item_show .pic {
  margin-bottom: 20px;
}

#item_show h3 {
  margin-top: 20px;
  color: black;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
}

#items {
   -moz-column-count: 4;
   -moz-column-gap: 23px;
   -webkit-column-count: 4;
   -webkit-column-gap: 23px;
   column-count: 4;
   column-gap: 23px;
 }

#items .item {
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  column-break-inside: avoid;
  padding-bottom: 20px;
}

#items .item h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  margin-bottom: 5px;
}

#items .item .categories li {
  display: inline;
}

#items .item .categories li a:after {
  content: ", ";
}

#items .item .categories li:last-child a:after {
  content: "";
}

#items .item .categories a{
  color: #aaa;
}



