<div id="menu">
  <ul>
    <% Category::SECTIONS.values.each do |section| %>
      <li class="<%= section %>"><span class="title"><%= section %></span>
        <ul>
          <% Category.in_section(section).by_position.each do |category| %>
            <li class="<%= "active" if @category == category %>"><%= link_to category.name, [:front, category] %></li>
          <% end %>
        </ul>
      </li>
    <% end %>
  </ul>
</div>