<!DOCTYPE html>
<html>
  <head>
    <%= render "layouts/front/header" %>
  </head>

  <body>
    <div id="wrapper">
      <div id="header">
        <div class="left_column">
          <div id="logo">
            rubiodemarzo
          </div>
        </div>

        <div class="rigth_column">
          <div id="menu">
            <ul>
              <li>work
                <ul>
                  <li>book cover</li>
                  <li>identity</li>
                  <li>editorial</li>
                  <li>web</li>
                  <li>essay photo</li>
                  <li>miscelanea</li>
                  <li>new!</li>
                </ul>
              </li>

              <li>projects
                <ul>
                  <li>escritoalapiz</li>
                  <li>laosamoña</li>
                  <li>deslab</li>
                </ul>
              </li>

              <li>about
                <ul>
                  <li>profile</li>
                  <li>contact</li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div id="content" class="container">
        <%= yield %>
      </div>
    </div>

    <%= render "layouts/front/footer" %>
    <%= render "shared/analytics" %>
  </body>
</html>

